
.img1{
  background:url(https://i.pinimg.com/originals/69/26/85/6926852b6743eb4e317b9d4ebc88c6d9.jpg);
}
.qwe{
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 0px 15px 15px;
}
.img {
  padding: 50px;
 
  width: 250px;
  height:250px;
  float: left
}
.text1{
  padding-top: 50px;
}
.text2{
  font-size: 25px;
  padding-bottom:70px;
}
.text3{
  color: blue;
}
.text4{
  padding-left: 70px;
  font-size: 20px;
}
.year{
  font-size: 20px;
}
